body
{

	margin: 0;
	padding: 0;
	background: url(https://lh3.googleusercontent.com/G55R_cLinEgPeGqzbguY0dikhVGzuPc2yn6K-DKwvGSgLqu8x9Rq5CxRqf5LSI3cGSxbEweaziCaiKs9LhdMxC1zmggvD00H9zrq2YpizzPflFZWVf4gE2dHClHxi9PPyBxA4pu5uXKzd4mabrFbbm5DRJMrY5QQp8nK1eus312G44Q0mUc2y61M5PMSCjCfrqXKmWlBh2eL0QNaq-lrsbVABpAO1WMg_htdnt2n5NMLvYZMTzTp8g6HkqivET8FCz7xE1nybMDFkzXLu0PehcqA6rJdDkRyS1LeJ2bIf3VwzrS7jLiCB-2v0CyZpTFeAt63ODMQ9G2Gz3NN0H7MDpHaCqswB20OV9YW2pH5RWHRjBPwhYsoagV1JWkrMjOhsvfD01mh9DFH-ccJ0Y7Zchy4J35J7wbaaK5K7JWARiU6ELN93K_lepJuP9AJesyy8NZHkBxnRp4AdiOZjZ6Y-QOrHsqWwl5zr1Xu53yfeImycDTltJjAGa5g9H_LDKtpkeZhUVkt9l6rZkWdlDbYBz_KzCVtydXGh6-QqyjJ7Zvb2gSTtdeWYm3HfZCbzyBMAAlTLjOSGm7P5KPAXi1tgZcCeLDPl3X8qUyXM9MPo3XKBuh7OD0kyPaAFCmCT7gbLQ5a8rG1UMHzTY4ImfcI-8EAe_lAvJI=w355-h354-no);
	background-position: center;
	background-size: cover;
	font-family: sans-serif;
}
.loginbox
{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%; 
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;

}
.user{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
h1
{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.loginbox p
{
	margin: 0;
	padding: 0;
	font-weight: bold; 
}
.loginbox input
{
	width: 100%;
	margin-bottom: 20px
}
.loginbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.loginbox a
{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}
.loginbox a:hover
{
	color: #ffc107;
}
