body
{

	margin: 0;
	padding: 0;
	background: url(https://lh3.googleusercontent.com/rnDimduyxpZeVVZ9f0GkrDK82sMfuZk9Wgidb2fSJ48cOdXE_1PzMPivklkpF66eFpyfQdMU1ou3sbOt-S01NUrEaaWR4jvW49TmuCPBD1SjJI-0MT8gB4aPIRL6sSu-WlZ0N7TPEgm5l0uLdVTvxYKsOkrRu47fpEcobq8teOxNjLhtS1wz3vMxSBj8Xpn9dYWE77jtFh0TFY6Y8FCXG_2kPINQR0mtjd8rzWyL_bfswbz5SjBaTg2tD-cL42bLnN1nUBv2Er1lpn4bl-FOqXuvag-qRN3Ob93GVCsDLG6BjKFQ9ZdTSWQP_IMWH2D5G5uyjVphvIv16JzBq5beNNoauoBdMu4RotweZ_2Ej1uNzqfP9UhoBJIbMWvwY8r2qg52mJKt94wAO-vrsGxT9UrSy4fL0u3Ma8d2lx3iSuh5ppeo5_p_8vgtjBGVe9L4SD4pZgS6koJbQ8UuZeOExMvfIQiuXUQ_jzzfTKJeWBFTx0PIwigBtUt60MiBTIZ9hYvE5wVgMY49VCZMveW68qcZJMDN-PBV9oDicqQYgPOWn9IpuhRHxl5rQDM8o5j5qfd6puoNPe_SUsUrxRRr97otN1rT9mCDny4gE8zNxbJTZTnoT8q_3yU6fN9N8En-w6BjCIuEQ4ct1xQJeHXCMKtB-7kJynA=w1112-h696-no);
	background-position: center;
	background-size: cover;
	font-family: sans-serif;
}
.loginbox
{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%; 
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;

}
.user{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
h1
{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.loginbox p
{
	margin: 0;
	padding: 0;
	font-weight: bold; 
}
.loginbox input
{
	width: 100%;
	margin-bottom: 20px
}
.loginbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.loginbox a
{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}
.loginbox a:hover
{
	color: #ffc107;
}
